/* .panel {
  padding: 4em 4em 2em 4em;
  -moz-transform: translateY(100vh);
  -webkit-transform: translateY(100vh);
  -ms-transform: translateY(100vh);
  transform: translateY(100vh);
  -moz-transition: -moz-transform 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-overflow-scrolling: touch;
  background: rgba(36, 38, 41, 0.975);
  bottom: 4em;
  left: 0;
  max-height: calc(80vh - 4em);
  overflow-y: auto;
  position: fixed;
  width: 100%;
  z-index: 10001;
}

.panel.active {
  -moz-transform: translateY(1px);
  -webkit-transform: translateY(1px);
  -ms-transform: translateY(1px);
  transform: translateY(1px);
}

.panel > .inner {
  margin: 0 auto;
  max-width: 100%;
  width: 75em;
}

.panel > .inner.split {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.panel > .inner.split > div {
  margin-left: 4em;
  width: 50%;
}

.panel > .inner.split > :first-child {
  margin-left: 0;
}

.panel > .closer {
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  background-image: url("/assets/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3em;
  cursor: pointer;
  height: 5em;
  opacity: 0.25;
  position: absolute;
  right: 0;
  top: 0;
  width: 5em;
  z-index: 2;
}

.panel > .closer:hover {
  opacity: 1;
}

@media screen and (max-width: 1280px) {
  .panel {
    padding: 3em 3em 1em 3em;
  }

  .panel > .inner.split > div {
    margin-left: 3em;
  }

  .panel > .closer {
    background-size: 2.5em;
    background-position: 75% 25%;
  }
}

@media screen and (max-width: 980px) {
  .panel > .inner.split {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .panel > .inner.split > div {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 736px) {
  .panel {
    -moz-transform: translateY(-100vh);
    -webkit-transform: translateY(-100vh);
    -ms-transform: translateY(-100vh);
    transform: translateY(-100vh);
    padding: 4em 2em 2em 2em;
    bottom: auto;
    top: calc(4em - 1px);
  }

  .panel.active {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
} */
